:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #2563eb;
  --primary-1: #c7d8ff;
  --primary-2: #1d4ed8;
  --secondary: #1e293b;
  --secondary-2: #0f172a;
  --success: #16a34a;
  --success-2: #15803d;
  --warning: #f59e0b;
  --warning-2: #d97706;
  --error: #dc2626;
  --error-2: #b91c1c;
  --primary-text: #1e3a8a;
  --text: #4c4c4c;
  --bg: #f3f3f3;

  --gray-900: #171c1f;
  --gray-800: #343a3d;
  --gray-700: #53595c;
  --gray-600: #6f777a;
  --gray-500: #858b8f;
  --gray-400: #9ba0a3;
  --gray-300: #c2c9cc;
  --gray-200: #e8eaeb;
  --gray-100: #f2f4f5;
  --gray-50: #f9fbfc;
  --gray-25: #fcfeff;

  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-2: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
