@use '@/css/mixins/mixins.scss';

.project-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  padding: 0.75rem 1.875rem;
  color: var(--secondary);
  font: var(--text-medium-21);
  border-radius: var(--ui-border-radius);
  box-shadow: var(--shadow);
  transition: var(--general-transition);

  .icons {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
  }

  .icon {
    width: 2rem;
    height: auto;
    aspect-ratio: 1;
  }

  .name {
    flex: 1 1 auto;
    text-align: left;
  }

  .progress {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    .loader {
      --spinner-color: var(--primary-2);

      width: max(1rem, 16px);
      aspect-ratio: 1;
      height: auto;
    }
  }

  &:hover {
    box-shadow: var(--shadow-2);
    background-color: var(--primary-1);
    border-color: var(--primary);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
